.minimenu {
	height: 40px;
	width: 40px;
}
.minimenu hr {
	border-top: 1px solid red;
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  margin-bottom:  80px;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.nav-right div {
  margin: 10px;
  cursor: pointer;
}
.nav-right div:hover {
  margin: 10px;
  cursor: pointer;
  border-bottom: 2px black solid;
}